<%= stylesheet_link_tag "events/base" %>
<%= stylesheet_link_tag "events/new"%>
<!-- 戻るボタンのためにリンクしてある -->
<div class="sub-header">
   <h1><%= link_to "＜", events_path, class: "back" %></h1>
   <h1>新規イベント</h1>
</div>

<div form-content>
  <%= form_for(@event, url: create_event_path ) do |f| %>
    
    <%= f.label "名前"%>
    <%= f.text_field :name %>

    <%= f.label "日時" %>
    <%= f.datetime_select :held_at %>

    <%= f.submit "作成", data: { disable_with: "作成中..." } %>
  <% end %>
<div>