<!DOCTYPE html>
<html>
  <head>
    <title>Sotomeshi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-wrapper">
        <div class="header-title">
          Sotomeshi
        </div>
      </div>
    </header>

    <div class="content">

      <div class="side-menu">
        <%= link_to "イベント一覧", events_path, class: "side-menu-item" %>
        <%= link_to "ユーザー一覧", users_path, class: "side-menu-item" %>
      </div>

      <div class="view-content">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
